html, body {
    height: 100%;
    margin: 0; padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

#playerPane {
    height: 6em;
}

#bottom {
    position: relative;
}

#sidebarPane {
    position: absolute;
    width: 20%; height: 100%;
    left: 0;
}

.sbPlaylistItem {
	cursor: pointer;
}

#filterPane {
    margin: 5%;
    position: absolute;
    width: 90%; height: 90%;
    left: 0; top: 0;
    background-color: white;
    visibility: hidden;
}

.paneSubheading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Display list control's table as blocks to allow setting height
   and scrolling panes */
.uilcTable {
    display: block;
    overflow-y: auto;
}

/* Library */
#libraryPane {
    position: absolute;
    width: 40%; height: 100%;
    left: 20%; top: 0;
}

/* Remove all margins to allow height setting to work properly */
/* These should probably be classes and merged with the queue's margin info */
#libraryPane{margin:0px;}
#libraryTitle{margin:0px;}
#librarySubheading{margin:0px;}
#libraryToolbar{margin:0px;}
#libraryContainer{margin:0px;}
#libraryHead{margin:0px;}


/* Queue */
#queuePane {
    position: absolute;
    width: 40%; height: 100%;
    left: 60%;
}

#queuePane{margin:0px;}
#queueTitle{margin:0px;}
#queueSubheading{margin:0px;}
#queueToolbar{margin:0px;}
#queueContainer{margin:0px;}
#queueHead{margin:0px;}
