html, body {
    height: 100%;
    margin: 0; padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

#playerPane {
    height: 6em;
}

#bottom {
    position: relative;
}

#sidebarPane {
    position: absolute;
    width: 20%; height: 100%;
    left: 0;
}

.sbList li {
	cursor: pointer;
}

#filterPane {
    margin: 5%;
    background-color: white;
}

.paneSubheading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Display list control's table as blocks to allow setting height
   and scrolling panes */
.uilcTable {
    display: block;
    overflow-y: auto;
}

/* Generic control styles */
.disabledOverlay {
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	color: white;
	text-align: center;
	display: none;
}

/* Remove all margins to allow height setting to work properly */
.pane{margin: 0px;}
.paneHead{margin: 0px;}
.paneTitle{margin: 0px;}
.paneSubheading{margin: 0px;}
.paneToolbar{margin: 0px;}
.paneListView{margin: 0px;}


/* Library */
#libraryPane {
    position: absolute;
    width: 40%; height: 100%;
    left: 20%; top: 0;
}


/* Queue */
#queuePane {
    position: absolute;
    width: 40%; height: 100%;
    left: 60%;
}
