/* Generic classes */

table {
    border-spacing: 0;
}

.uilcHighlight {
    background-color: gray;
}

.paneTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    padding-top: 0.25em; padding-left: 6pt;
}

.paneSubheading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    padding-top: 0.25em; padding-left: 6pt;
}

/* Player */

#playerCover {
    display: inline-block;
    height: 5em;
    margin: 0.5em;
    padding: 0;
    float: left;
}

#playerControls {
   display: inline-block;
   vertical-align: top;
}

.playerButton {
    display: inline-block;
    border: 1px solid black;
    width: 3em; height: 3em;
    text-align: center;
    line-height: 3em;
    margin: 0.5em 0;
    padding: 0;
    cursor: default;
}

#playerMetadata {
    margin: 0.5em;
    display: inline-block;
}

#playerTimeline {
    margin: 0.5em;
}

#playerScrubber {
    display: inline-block;
    width: 60%; height: 100%;
    height: 1em;
    background-color: #CCC;
}

#playerScrubberProgress {
    width: 0; height: 100%;
    background-color: black;
}

/* Sidebar */

.sbList {
    padding-left: 1em;
}

.sbList li {
	color: blue;
	list-style-type: none;
}

#filterPane {
    /* Filters pane is initially hidden, only made visible (over the library) when required. */
    display: none;
    position: absolute;
    width: 90%; height: 90%;
    left: 0; top: 0;
    background-color: white;
	z-index: 1;
	overflow-y: scroll;
}

#filterClose {
    text-align: right;
    cursor: pointer;
    color: blue;
}
 