#logo {
    position: absolute;
    top: 0; right: 0;
}

#sidebarPane {
    display: inline-block;
    float: left;
    width: 15%;
}

#filterPane {
    display: inline-block;
    float: left;
    width: 10%;
}

#libraryPane {
    display: inline-block;
    float: left;
    width: 30%;
}

#queuePane {
    display: inline-block;
    float: right;
    width: 30%;
}
