html, body {
    height: 100%;
    margin: 0; padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

#playerPane {
    height: 15%;
}

#playerCover {
    display: inline-block;
    height: 100%;
}

#player {
    display: inline-block;
    vertical-align: top;
}

#playerScrubber {
    width: 200px; height: 1em;
    background-color: #CCC;
}

#playerScrubberProgress {
    width: 0; height: 100%;
    background-color: black;
}

#logo {
    position: absolute;
    top: 0; right: 0;
}

#bottom {
    position: relative;
    height: 85%;
}

#sidebarPane {
    position: absolute;
    width: 20%; height: 100%;
    left: 0;
}

#filterPane {
    margin: 5%;
    position: absolute;
    width: 90%; height: 90%;
    left: 0; top: 0;
    background-color: white;
    visibility: hidden;
}

.paneSubheading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Display list control's table as blocks to allow setting height
   and scrolling panes */
.uilcTable {
    display: block;
    overflow-y: auto;
}

/* Library */
#libraryPane {
    position: absolute;
    width: 40%; height: 100%;
    left: 20%; top: 0;
}

/* Remove all margins to allow height setting to work properly */
/* These should probably be classes and merged with the queue's margin info */
#libraryPane{margin:0px;}
#libraryTitle{margin:0px;}
#librarySubheading{margin:0px;}
#libraryToolbar{margin:0px;}
#libraryContainer{margin:0px;}
#libraryHead{margin:0px;}


/* Queue */
#queuePane {
    position: absolute;
    width: 40%; height: 100%;
    left: 60%;
}

#queuePane{margin:0px;}
#queueTitle{margin:0px;}
#queueSubheading{margin:0px;}
#queueToolbar{margin:0px;}
#queueContainer{margin:0px;}
#queueHead{margin:0px;}
