#playerScrubber {
    width: 200px; height: 1em;
    background-color: #CCC;
}

#playerScrubberProgress {
    width: 0; height: 100%;
    background-color: black;
}

#logo {
    position: absolute;
    top: 0; right: 0;
}

#sidebarPane {
    position: absolute;
    width: 20%;
    left: 0;
}

#filterPane {
    position: absolute;
    width: 20%;
    left: 20%;
}

#libraryPane {
    position: absolute;
    width: 30%;
    left: 40%;
}

#queuePane {
    position: absolute;
    width: 30%;
    left: 70%;
}
