#logo {
    position: absolute;
    top: 0; right: 0;
}

#sidebarPane {
    display: inline-block;
    float: left;
    clear: none;
    width: 15%;
}

#libraryPane {
    display: inline-block;
    float: left;
    clear: none;
    width: 40%;
}

#queuePane {
    display: inline-block;
    float: right;
    width: 40%;
}

.uilcHighlight {
    background-color: gray;
}
